.hide {
	display: none;
}
/*common*/
a.wx_blue {
	font-size: 12px;
	color: #0077d2
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0px;
}

