/*loading*/
.wx_loading {
	margin-top: 20px;
	height: 28px;
	line-height: 28px;
	background: url(../../../img/old/wx_loading.gif) center center no-repeat;
	text-align: center;
	background-size: 20px 20px;
}


/*圆形进度*/
.progress-round {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-image: linear-gradient(90deg, #e2e2e2 50%, transparent 50%, transparent), linear-gradient(90deg, #cfa74a 50%, #e2e2e2 50%, #e2e2e2);
	background-image: -webkit-linear-gradient(90deg, #e2e2e2 50%, transparent 50%, transparent), -webkit-linear-gradient(90deg, #cfa74a 50%, #e2e2e2 50%, #e2e2e2);
	position: relative;
	top: 18px;
}
.progress-round:after, .progress-round:before {
	content: '';
	width: 35px;
	height: 35px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	margin-left: -17.5px;
	margin-top: -17.5px;
	position: absolute;
	z-index: 999
}
.progress-round:after {
	z-index: 998;
	box-shadow: none;
transform:
}
.progress-round b:after { /*改变后面的百分比，可改变进度条的宽度*/
	width: 84%;
	height: 84%;
	left: 16%;
	top: 16%;
	margin-left: -8%;
	margin-top: -8%;
	color: #ff7e00;
	position: absolute;
	font-weight: 900;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
	content: ""
}
.progress-round i, .progress-round em {
	z-index: 999;
	font-style: normal;
	color: #666;
	height: 20px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	top: 15px;
}
.progress-round i {
	margin-left: 12px;
}
.progress-round em {
	font-size: 12px;
}
/*条形进度条*/
.wx_progress {
	height: 9px;
	background: #e2e2e2;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5px;
}
.wx_progress span {
	background: #cfa74a;
	display: block;
	height: 9px;
}
/*小图标->奖励,可转让*/
.wx_icon_box {
	font-style: normal;
	float: left;
	display: block;
}
.wx_icon {
	display: block;
	float: left;
	color: #fff;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	width: auto;
	border-radius: 4px;
	margin: 0;
	text-decoration: none;
	overflow: hidden;
	margin: 6px 3px 6px 0;
}
.wx_reward {
	height: 11px;
	border: #fa6b0d solid 1px;
	background: #fa6b0d;
	text-align: right;
	padding-right: 2px;
	padding-left: 0px;
	color: #fff;
	line-height: 10px;
}
.wx_reward ins {
	display: block;
	height: 11px;
	line-height: 11px;
	background: #fff;
	color: #fa6b0d;
	margin-right: 2px;
	padding: 0 1px;
	float: left;
	text-decoration: none;
	border-radius: 2px 0 0 2px;
	overflow: hidden;
	float: left;
}
.wx_reward i {
	display: block;
	height: 11px;
	line-height: 11px;
	float: left;
	color: #fff !important;
	font-size: 10px !important;
}
.wx_reward_nba {
	background: url(../../../img/old/wx_list/wx_icon_nba.gif) left top no-repeat;
	width: 25px;
	height: 23px;
	background-size: 25px 13px;
}
.wx_reward_nba2 {
	height: 13px;
	text-align: right;
	padding-right: 31px;
	padding-left: 1px;
	background: url(../../../img/old/wx_list/wx_nba_rebate.png) right top no-repeat;
	background-size: 32px 13px;
	overflow: hidden;
}
.wx_reward_nba2 ins {
	border: #005faf solid 1px;
	border-right: none;
	display: block;
	height: 11px;
	line-height: 11px;
	color: #005faf;
	margin-right: -2px;
	padding: 0 1px;
	padding-right: 3px;
	float: left;
	text-decoration: none;
	border-radius: 3px 0 0 3px;
	overflow: hidden;
}
.wx_reward_vip {
	background: url(../../../../weixin_copy/img/wx_list/wx_icon_vip.gif) left top no-repeat;
	width: 25px;
	height: 23px;
	background-size: 25px 13px;
}
.wx_transfer {
	background: #4ba4ef;
	padding: 1px 3px 0 3px;
}
.wx_limited {
	background: #f00;
	padding: 1px 3px 0 3px;
}
@-moz-document url-prefix() {
 .wx_icon {
line-height:9px;
}
 .wx_reward ins {
line-height:9px;
}
 .wx_reward i {
line-height:9px !important;
}
}



/*加载更多*/
.wx_get_more, .wx_get_nomore {
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666;
	text-decoration: none;
	display: block;
}
.wx_get_nomore {
	color: #999
}