/* CSS Document */
.mod_index .top_login{
	display:block;
}




#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


.banner_redbag_info_con1 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 34.5%;
}
.banner_redbag_info_con2 {
	position: relative;
	width: 100%;
	height: 100%;
}
.redbag_info {
	vertical-align: middle;
	color: #fff;
	padding-left: 12px;
	font-size: 12px;
}

.hide{
	display:none;
}


/*首页产品相关样式*/
/*产品*/
.index_wrap {
	padding-bottom: 50px;
}
.index_list {
	width: 100%;
	margin: 0px auto;
	padding: 4px 5px;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.index_list:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	padding-bottom: 10px;
}
.index_list ul {
	width: 100%;
	padding: 0px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.index_item {
	position: relative;
	width: 100%;
	height: 296px;
	background-color: #f3f3f1;
}
.index_item_content {
	width: 96%;
	margin: 0px auto;
	padding-top: 10px;
}
.index_more {
	top: 46px;
	right: 0px;
	position: absolute;
	z-index: 1;
	width: 30px;
	height: 167px;
	background: url('../img/old/index_more.png') no-repeat;
	display: block;
	background-size: 30px 167px;
}
/*进度*/
.index_progress {
	width: 90px;
	height: 90px;
	text-align: center;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}
.index_progress_text {
	position: absolute;
	top: 0;
	left: 0;
	color: #666;
	font-size: 21px;
	width: 90px;
	height: 90px;
	line-height: 90px;
}
.index_progress_text span {
	font-size: 12px;
}
/*详情*/
.index_item_title {
	width: 100%;
	height: 125px;
	border-bottom: 1px #dcdcda solid;
	text-align: center;
	position: relative;
}
.index_item_title h2 {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.index_item_title h2 span {
	display: block;
	line-height: normal;
	height: 20px;
	line-height: 20px;
}
.index_item_title .wx_icon_box {
	display: block;
	position: relative;
	top: -3px;
	left: 3px;
}
.index_item_detail {
	padding: 8px 0px 2px;
	height: 75px;
	position: relative;
}
.index_item_detail ul {
	float: left;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.index_item_detail ul:nth-child(1) {
	width: 52%;
	padding-left: 5px;
	border-right: 2px #dadada solid;
}
.index_item_detail ul:nth-child(2) {
	width: 48%;
	padding-left: 15px;
}
.index_item_detail ul span {
	display: block;
}
.index_item_detail ul li.index_item_text {
	font-size: 12px;
	color: #666;
	padding-bottom: 5px;
}
.index_item_detail ul li.index_item_time {
	font-size: 12px;
	color: #666;
}
.index_item_detail ul li.index_item_num1 {
	font-size: 16px;
	color: #fa6b0d;
	padding-top: 4px;
}
.index_item_detail ul li span.index_item_num2 {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-align: center;
	height: 22px;
	line-height: 22px;
	background-color: #cfa74a;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	min-width: 22px;
	margin-right: 3px;
}
.index_item_detail ul li span.index_time_unit {
	display: inline-block;
	vertical-align: bottom
}
.index_item_detail ul li.index_item_amount {
	font-size: 12px;
	color: #666;
	padding-top: 10px;
	position: absolute;
	bottom: 8px;
}
.index_item_tip {
	display: block;
	width: 100%;
	height: 47px;
	line-height: 47px;
	color: #727272;
	font-size: 20px;
	text-align: center;
}
.index_item_join {
	display: block;
	font-size: 12px;
	color: #666;
	text-align: center;
	padding-top: 5px;
}
.index_count_down {
	color: #ff864a;
	padding-top: 10px;
}