@charset "utf-8";
/*提现*/
.wx_draw_info {
	border-bottom: #e5e5e5 solid 1px;
}
.wx_rechage_alert i.dialog-alert-icon {
	background: url(../../../../weixin_copy/img/dialog_icon.png) left top no-repeat;
}



.wx_account_invest {
	padding: 0 21px;
}


.wx_account_invest_nav {
	height: 40px;
	border-bottom: #e5e5e5 solid 1px;
	padding: 0 21px;
}
.wx_account_invest_nav a {
	height: 40px;
	line-height: 40px;
	display: block;
	width: 33.3333%;
	float: left;
	text-align: center;
	color: #666;
	text-decoration: none;
}
.wx_account_invest_nav a.select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: #cda148 solid 3px;
}
.wx_account_invest_table {
	border: #e5e5e5 solid 1px;
	border-bottom: none;
	margin-top: 20px;
}
.wx_account_invest_table dt {
	height: 36px;
	line-height: 36px;
	background: #f6f6f6;
	border-bottom: #e5e5e5 solid 1px;
	font-weight: bold;
	color: #666;
	padding: 0 12px;
}
.wx_account_invest_table dd {
	display: table;
	width: 100%;
	border-bottom: #e5e5e5 solid 1px;
}
.wx_account_invest_table dd ul {
	display: table-row;
}
.wx_account_invest_table dd ul li {
	width: 33.3333%;
	display: table-cell;
	line-height: 20px;
	vertical-align: middle;
	padding: 7px 0;
	font-size: 12px;
	border-bottom: #e5e5e5 solid 1px;
	padding-left: 5px;
}
.wx_account_invest_table dd ul:nth-last-child(1) li {
	border: none;
}
.wx_account_invest_table dd ul li:nth-child(1) {
	padding-left: 12px;
}
.wx_account_invest_table dd ul li p {
	line-height: 12px;
	color: #666;
	margin-bottom: 5px;
}
.wx_account_invest_table dd ul li p.yellow {
	color: #cda148;
}
.wx_account_invest_table dd ul li span {
	color: #9c9c9c;
	font-size: 12px;
	padding-top: 2px;
}
.wx_account_invest_none {
	width: 151px;
	height: 38px;
	background: url(../../../img/old/wx_account/wx_invest_none.gif) left top no-repeat;
	background-size: 151px 38px;
	margin: 45px auto 0 auto;
}
