/*top*/
.wx_top {
	height: 46px;
	line-height: 46px;
	background: #cda148;
	background-image: url(../../../img/old/wx_login/wx_logo_white_93.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: contain;
	vertical-align: text-top;
	margin-bottom: 24px;
	position: relative;
}
.wx_top_logo {
	display: inline-block;
	height: 100%;
	width: 116px;
	vertical-align: middle;
}
.wx_top_gap {
	border-left: 2px solid #fff;
	height: 14px;
	margin-left: 2px;
	display: inline-block;
	vertical-align: middle;
}
.wx_top_title {
	color: #fff;
	height: 24px;
	line-height: 24px;
	padding-left: 4px;
	font-size: 14px;
	vertical-align: middle;
}
.wx_top_balance {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px 0 0;
	color: #fff;
}
.wx_top_balance p {
	padding: 0;
	margin: 0;
	height: 18px;
	line-height: 18px;
	text-align: right;
	font-size: 12px;
	overflow: hidden;
}
.wx_top_balance p em {
	font-size: 15px;
}
.wx_top_btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 15px 0 0;
	color: #fff;
}
.wx_top_btn a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}
