@charset "utf-8";
/*css reset*/
@import url(common/a1_reset.css);
@import url(common/a2_common.css);
@import url(common/a3_layout.css);


@import url(common/b1_top.css);
@import url(common/b2_foot.css);/**/

/*@import url(common/c1_button.css);
@import url(common/c2_dlg.css);
@import url(common/c3_form.css);
@import url(common/c4_tab.css);
@import url(common/c5_tips.css);
@import url(common/c6_icon.css);
@import url(common/c7_loading.css);
*/

html { margin: 0; height: 100%; }
body {
  margin: 0;
  height: 100%;
  font-family: "Microsoft YaHei",SimHei,helvetica,arial,verdana,tahoma,sans-serif;
}
h1, h2, p, textarea, form {
  margin: 0;
  padding: 0;
  line-height: 1;
}


/* content */
.content_box {
  position: relative;
  z-index: 100;
  left: 0;
  right: 0;
  padding: 0 23px;
  background-color: rgba(255, 255, 255, .5);
  padding-bottom: 44px;    
}

.content_box header {
  padding: 20px 0 8px 0;
/*
  text-align: center;
*/
}

.content_box h1 {
  display: inline-block;
  font-size: 14px;
  color: #2c2c2c;
  padding-right: 3px;
}

.content_box header span {
  font-size: 12px;
  color: #2C2C2C;
/*
  font-weight: bold;
*/
}

.content_box p {
  font-size: 12px;
  color: #5d5d5d;
  line-height: 20px;
}