@charset "utf-8";
/*理财师*/
.wx_planner_info { padding:0; }
.wx_planner_text { padding:17px 21px; }
.wx_planner_text h4 { color:#cda148; }
.wx_planner_text p { color:#9c9c9c; line-height:24px; height:auto; }
.wx_planner_text p i { color:#ff864a; }
.wx_planner_ewm { width:185px; height:185px; border:#c7c7c7 solid 1px; margin:20px auto 0 auto; padding:10px 0; margin-bottom:15px; }
.wx_planner_ewm p { padding-top:5px; font-size:12px; text-align:center; }
.wx_planner_ewm_img { height:160px; width:160px; margin:0 auto; }
.wx_planner_ewm_img img { border:none; }

.wx_planner_tj { background:#f9f9f9; padding:17px 21px;  border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px;}
.wx_planner_tj p { color:#9c9c9c; line-height:20px; }
.wx_planner_tj p.url { word-break:break-all; word-wrap:break-word; line-height:25px; }
.wx_planner_btn { margin-top:10px; }

