@charset "utf-8";
.wx_top {
	margin-bottom: 0;
}
/*我的账户首页*/
.wx_account {
	padding-bottom: 60px;
}
.wx_account_title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-top: #e5e5e5 solid 1px;
	border-bottom: #e5e5e5 solid 1px;
	background: #f6f6f6;
	color: #666;
	padding-left: 21px;
	font-weight: bold;
}
.wx_account_title2 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	padding-bottom: 5px;
	font-weight: bold;
}
.wx_account_capital {
	height: 80px;
	background: #ff864a;
}
.wx_account_capital span {
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 45px;
	text-align: center;
	color: #fff;
}
.wx_account_capital p {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	text-align: center;
	color: #fff;
}
.wx_account_items {
}
.wx_account_items li {
	height: 64px;
	padding: 7px 0;
	border-right: #e5e5e5 solid 1px;
	border-bottom: #e5e5e5 solid 1px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	float: left;
}
.wx_account_items li:nth-child(2), .wx_account_items li:nth-child(4) {
	border-right: none;
}
.wx_account_items li a {
	display: block;
	margin-right: 8px;
	background: url(../../img/old/wx_account/wx_account_arrow.gif) right 33px no-repeat;
	background-size: 15px 15px;
}
.wx_account_items li p {
	padding-left: 15px;
	height: 25px;
	line-height: 25px;
	color: #9c9c9c;
}
.wx_account_items li p i {
	font-size: 15px;
	color: #666;
	padding-right: 5px;
}
.wx_account_items li p i.wx_account_org {
	color: #fa6b0d;
}
.wx_account_items li p em {
	color: #5ca3e1;
}
.wx_account_btn {
	padding: 20px;
}
.wx_account_btn p {
	width: 50%;
	display: block;
}
.wx_account_btn a {
	display: block;
	width: auto
}
.wx_account_btn a:nth-child(1) {
	margin-right: 20px;
	margin-left: 20px;
}
.wx_account_btn a:nth-child(2) {
	margin-left: 20px;
	margin-right: 20px;
}
.wx_account_table {
	margin: 0 15px 15px 15px;
	border: #e5e5e5 solid 1px;
}
.wx_account_table h3 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: #e5e5e5 solid 1px;
	background: #f6f6f6;
	color: #9c9c9c;
	text-align: center;
	font-weight: bold;
}
.wx_account_table h3 span {
	color: #ff864a;
	padding-left: 10px;
}
.wx_account_table_body {
}
.wx_account_table_body ul {
}
.wx_account_table_body li {
	height: 60px;
	padding: 5px 0;
	width: 50%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.wx_account_table_body li:nth-child(1) {
	border-right: #e5e5e5 solid 1px;
}
.wx_account_table_body li p {
	padding-left: 20px;
	color: #9c9c9c;
	height: 25px;
	line-height: 25px;
}
.wx_account_table_body li p {
	padding-left: 20px;
	color: #9c9c9c;
}
.wx_account_table_body li p i.wx_account_org {
	color: #fa6b0d;
}
.wx_account_list ul {
	border-top: #e5e5e5 solid 1px;
}
.wx_account_list ul li {
	height: 50px;
	line-height: 50px;
	border-bottom: #e5e5e5 solid 1px;
}
.wx_account_list ul li a {
	display: block;
	font-size: 14px;
	color: #666;
	padding-left: 20px;
}
.wx_account_table2, .wx_account_wrap {
	margin: 0;
	padding: 15px 21px;
}
.wx_account_table2 h3, .wx_account_wrap h3 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: #e5e5e5 solid 1px;
	background: #f6f6f6;
	color: #666;
	padding-left: 21px;
	font-weight: bold;
}
.wx_account_table2 h4, .wx_account_wrap h4 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	padding-bottom: 5px;
	font-weight: bold;
}
.wx_account_table2 p {
	height: 30px;
	line-height: 30px;
	color: #666;
	vertical-align: bottom;
}
.wx_account_table2 p span {
	color: #9c9c9c;
	float: left;
	width: 75px;
	display: block;
	overflow: hidden;
}
.wx_account_table2 p i em {
	color: #f00;
}
.wx_account_table2 p.wx_account_table2_input {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
.wx_account_table2 p.wx_account_table2_input span {
	height: 50px;
}
.wx_account_table2 p.wx_accoutn_table2_tip {
	color: #9c9c9c;
	font-size: 12px;
	margin-left: 75px;
	height: auto;
	line-height: 20px;
	padding-bottom: 3px;
}
.wx_account_input_box {
	position: relative;
	top: 6px;
	margin-left: 75px;
	display: block;
	height: 35px;
	line-height: 35px;
	border: #eee solid 1px;
	border-bottom-width: 2px;
	border-bottom-color: #b6b6b6;
}
.wx_account_input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 33px;
	line-height: 35px;
	padding-left: 12px;
	border: none;
	outline: none;
	z-index: 99;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.wx_account_input_unit {
	position: absolute;
	right: -1px;
	top: -1px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 33px;
	border-right: #dadada solid 1px;
	border-top: #dadada solid 1px;
	z-index: 99;
	background: #e5e5e5;
	color: #9c9c9c;
}
.wx_account_input::-webkit-input-placeholder {
color:#dfdfdf;
font-size:12px;
}
.wx_draw {
}
.wx_draw_bank_info {
	border-bottom: #e5e5e5 solid 1px;
}
.wx_draw_info {
	border-bottom: #e5e5e5 solid 1px;
}
.wx_account_btn_box {
	padding: 17px 21px;
	text-align: center;
}
.wx_draw_tip {
	padding: 0 21px 17px 21px;
}
.wx_draw_tip .wx_tip2 p {
	color: #666;
	line-height: 22px;
}
.wx_draw_tip2 {
	padding: 17px 0 0 0;
}
.wx_draw_tip2 p {
	line-height: 25px;
	height: auto;
}
.wx_draw_tip2 p em {
	font-style: normal;
	color: #ff864a;
}
.wx_draw_tip2 .wx_invest_ok {
	margin: 20px 0;
}
.wx_draw_tip3 {
	margin: 17px 21px;
}
.wx_draw_tip3 strong {
	padding-bottom: 5px;
	color: #666;
	display: block;
}
.wx_draw_tip3 p {
	color: #666;
	line-height: 23px;
	margin-bottom: 5px;
}
/*我的资料*/
.wx_info {
	padding: 20px 0;
}
.wx_info_tip {
	padding: 10px;
	border: #e0af48 solid 1px;
	background: #fff9e3;
	margin: 0 21px;
	margin-bottom: 15px;
}
.wx_info_tip p {
	line-height: 22px;
	color: #666;
	font-size: 12px;
	word-break: break-all;
	word-wrap: break-word;
	padding: 0;
	margin: 0;
	width: 100%;
}
.wx_info_tip p strong {
	color: #ff864a;
	font-weight: normal;
	white-space: nowrap;
}
.wx_info_list {
	border-bottom: #e5e5e5 solid 1px;
	padding: 0 21px 15px 21px;
}
/*我的银行卡*/
.wx_bank_info {
	border-bottom: #e5e5e5 solid 1px;
}
.wx_bank_quick, .wx_bank_recharge {
	padding: 20px;
}
.wx_bank_faq {
	padding-top: 20px;
	color: #666;
	font-size: 12px;
}
.wx_bank_faq dt {
	font-weight: bold;
	line-height: 25px;
}
.wx_bank_faq dd {
	line-height: 22px;
	margin-bottom: 10px;
}
.wx_bank_tip {
	padding: 55px 20px;
	text-align: center;
}
.wx_bank_tip p {
	color: #666;
	font-size: 12px;
}
.wx_bank_tip2 {
	padding: 35px 20px;
	text-align: left;
}
.wx_bank_tip2 p {
	color: #666;
	font-size: 14px;
	color: #999;
}
.wx_bank_tip3 {
	padding-left: 40px;
	text-align: left;
}
.wx_bank_tip p.wx_bank_tip_title {
	font-size: 18px;
	color: #9c9c9c;
	margin-bottom: 15px;
	background: #noen;
}
.wx_bank_tip p span.yellow {
	color: #cda148;
	width: auto;
}
/*快捷支付*/
.wx_bank_list li {
	border-bottom: #e5e5e5 solid 1px;
	padding: 10px 21px;
	color: #666;
	position: relative;
}
.wx_bank_list li span {
	color: #9c9c9c;
	display: block;
	float: left;
	min-width: 75px;
	margin-right: 15px;
}
.wx_bank_list li.wx_bank_auth_tip {
	line-height: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
	height: auto;
}
.wx_bank_list li .wx_tip2 {
	line-height: 18px;
	color: #666;
	padding: 5px;
	margin-top: 5px;
	word-break: break-all;
	word-wrap: break-word;
}
.wx_bank_list li a.wx_bank_mobile {
	color: #ff864a;
	text-decoration: none;
	float: right;
}
.wx_bank_list li:nth-last-child(1) {
	border-bottom: none;
	padding-top: 15px;
}
.wx_bank_list li.wx_bank_list_input span {
	padding-top: 12px;
}
.wx_bank_auth_box {
	padding: 0;
	overflow: hidden;
}
.wx_bank_auth_input {
	width: 100%;
	float: left;
}
.wx_bank_auth_code {
	margin-right: 90px;
}
.wx_bank_auth_code input {
	border-right: none;
}
.wx_bank_auth_btn {
	background: #f7ae48;
	height: 44px;
	line-height: 44px;
	float: right;
	margin-top: 6px;
	width: 90px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.wx_bank_auth_agree {
	text-align: center;
	padding-top: 10px;
}
.wx_bank_auth_agree span {
	margin-right: 10px;
}
.wx_bank_auth_agree a {
	color: #ff864a;
	text-decoration: none;
}
.wx_bank_auth_submit {
	padding: 20px;
}
.wx_bank_auth_btn2 {
	margin-top: 15px;
}
/*设置交易密码*/
.wx_deal_pw {
}
.wx_deal_pw_info {
	color: #666;
	padding: 25px 21px 15px 21px;
	border-bottom: #e5e5e5 solid 1px;
}
.wx_deal_pw_info p {
	color: #9c9c9c;
	fotn-size: 12px;
	line-height: 25px;
}
.wx_deal_pw_info strong {
	font-weight: bold;
	color: #666;
}
.wx_deal_pw_form {
}
.wx_deal_box {
	border-bottom: #e5e5e5 solid 1px;
	padding: 15px 21px;
	overflow: hidden;
	width: auto;
}
.wx_deal_box .input-text-box {
}
.wx_deal_box .label-fl {
	color: #9c9c9c;
}
.wx_deal_btn {
	padding: 20px 21px 0 21px;
}
.wx_deal_pw_voice {
	padding-top: 20px;
}
/*理财师*/
.wx_planner_info {
	padding: 0;
}
.wx_planner_text {
	padding: 17px 21px;
}
.wx_planner_text h4 {
	color: #cda148;
}
.wx_planner_text p {
	color: #9c9c9c;
	line-height: 24px;
	height: auto;
}
.wx_planner_text p i {
	color: #ff864a;
}
.wx_planner_ewm {
	width: 185px;
	height: 185px;
	border: #c7c7c7 solid 1px;
	margin: 20px auto 0 auto;
	padding: 10px 0;
	margin-bottom: 15px;
}
.wx_planner_ewm p {
	padding-top: 5px;
	font-size: 12px;
	text-align: center;
}
.wx_planner_ewm_img {
	height: 160px;
	width: 160px;
	margin: 0 auto;
}
.wx_planner_ewm_img img {
	border: none;
}
.wx_planner_tj {
	background: #f9f9f9;
	padding: 17px 21px;
	border-top: #e5e5e5 solid 1px;
	border-bottom: #e5e5e5 solid 1px;
}
.wx_planner_tj p {
	color: #9c9c9c;
	line-height: 20px;
}
.wx_planner_tj p.url {
	word-break: break-all;
	word-wrap: break-word;
	line-height: 25px;
}
.wx_planner_btn {
	margin-top: 10px;
}
/*红包*/
.wx_bonus {
	padding: 17px 21px;
}
.wx_bonus_num {
	color: #cfa74a;
	font-size: 14px;
	padding-bottom: 15px;
}
.wx_bonus dl {
	margin-bottom: 20px;
}
.wx_bonus dl dt {
	width: 100%;
	border-top: none;
}
.wx_bonus dl dd {
	border: #e5e5e5 solid 1px;
	border-top: none;
	padding: 5px;
	font-size: 12px;
}
.wx_bonus dl dd h3 {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color: #9c9c9c;
	font-weight: bold;
	padding: 0;
	margin: 0;
	background: #fff;
	border: none;
}
.wx_bonus dl dd p {
	height: auto;
	line-height: 23px;
	word-break: break-all;
	word-wrap: break-word;
	color: #666;
}
.wx_bonus_bg {
	height: 10px;
	width: 100%;
	background: url(../../img/old/wx_account/wx_bonus_bg.gif) left top no-repeat;
	background-size: 100% 10px;
}
.wx_bonus_t {
	padding: 12px 5px;
	width: 100%;
	border: #e5e5e5 solid 1px;
	border-top: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.wx_bonus_l {
	float: left;
	color: #9c9c9c;
	padding-top: 8px;
	padding-right: 5px;
}
.wx_bonus_l span {
	font-size: 23px;
	color: #666;
}
.wx_bonus_r {
	float: right;
	width: 170px;
}
.wx_bonus_r p {
	height: auto;
	line-height: 23px;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
}
.wx_bonus_r p.wx_bonus_title {
	color: #666;
}
.wx_bonus_r p.wx_bonus_date {
	color: #9c9c9c;
}
.wx_bonus_b {
	height: 40px;
	line-height: 40px;
	border: #e5e5e5 solid 1px;
	border-top: none;
	padding: 0 5px;
	color: #ff958f;
	font-size: 12px;
}
.wx_bonus_b a {
	float: right;
	color: #cfa74a;
	text-decoration: none;
}
.wx_bonus_none {
	color: #666;
}
/*大于350时宽度时*/
@media all and (min-width:350px) {
.wx_bonus_l {
	padding-top: 3px;
	padding-right: 5px;
	width: 150px;
}
.wx_bonus_l span {
	font-size: 30px;
	color: #666;
}
.wx_bonus_r {
	float: left;
	width: auto;
}
}
/*提现*/
.wx_draw_info {
	border-bottom: #e5e5e5 solid 1px;
}
.wx_rechage_alert i.dialog-alert-icon {
	background: url(../../../weixin_copy/img/dialog_icon.png) left top no-repeat;
}
/*投资记录*/
.wx_account_invest {
	padding: 0 21px;
}
.wx_account_invest_nav {
	height: 40px;
	border-bottom: #e5e5e5 solid 1px;
	padding: 0 21px;
}
.wx_account_invest_nav a {
	height: 40px;
	line-height: 40px;
	display: block;
	width: 33.3333%;
	float: left;
	text-align: center;
	color: #666;
	text-decoration: none;
	font-size: 14px
}
.wx_account_invest_nav a.select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: #cda148 solid 3px;
}
.wx_account_invest_table {
	border: #e5e5e5 solid 1px;
	border-bottom: none;
	margin-top: 20px;
}
.wx_account_invest_table dt {
	height: 36px;
	line-height: 36px;
	background: #f6f6f6;
	border-bottom: #e5e5e5 solid 1px;
	font-weight: bold;
	color: #666;
	padding: 0 12px;
}
.wx_account_invest_table dd {
	display: table;
	width: 100%;
	border-bottom: #e5e5e5 solid 1px;
}
.wx_account_invest_table dd ul {
	display: table-row;
}
.wx_account_invest_table dd ul li {
	width: 33.3333%;
	display: table-cell;
	line-height: 20px;
	vertical-align: middle;
	padding: 7px 0;
	font-size: 12px;
	border-bottom: #e5e5e5 solid 1px;
	padding-left: 5px;
}
.wx_account_invest_table dd ul:nth-last-child(1) li {
	border: none;
}
.wx_account_invest_table dd ul li:nth-child(1) {
	padding-left: 12px;
}
.wx_account_invest_table dd ul li p {
	line-height: 12px;
	color: #666;
	margin-bottom: 5px;
}
.wx_account_invest_table dd ul li p.yellow {
	color: #cda148;
}
.wx_account_invest_table dd ul li span {
	color: #9c9c9c;
	font-size: 12px;
	padding-top: 2px;
}
.wx_account_invest_none {
	width: 151px;
	height: 38px;
	background: url(../../img/old/wx_account/wx_invest_none.gif) left top no-repeat;
	background-size: 151px 38px;
	margin: 45px auto 0 auto;
}
/*充值*/
.wx_recharge_balance {
	color: #ff864a;
	padding-right: 2px;
}
.wx_recharge_tip p {
	color: #9c9c9c;
	line-height: 25px;
	padding-left: 25px;
}
.wx_recharge_tip p .yellow {
	color: #cda148;
}
.wx_recharge_b1 {
	border-bottom: #e5e5e5 solid 1px;
}
.wx_recharge_btn {
	padding: 30px 0;
	text-align: center;
}
.wx_recharge_btn2 {
	padding: 20px 0;
	text-align: center;
}
.wx_recharge_info {
}
.wx_recharge_info p {
	color: #9c9c9c;
}
.wx_recharge_info p .yellow {
	color: #cda148;
}
.wx_recharge_bank_tip {
	padding-top: 5px;
	color: #9c9c9c;
}
/*提现*/
.wx_account_table2 p.ttn-po {
	padding: 0;
	height: 60px;
	padding-left: 40px;
	margin: 50px auto;
	display: inline-block;
	text-align: left;
}
.wx_account_table2 p.ttn-po {
	background: url(../../img/old/wx_list/wx_tip.gif) no-repeat 0 10px;
	background-size: 29px 29px;
	line-height: 25px;
}
.ttn-lcr {
	text-align: center;
}
.ttn-cl-po {
	border: 1px solid #e0af48;
	background: #fff9e3;
	padding: 10px;
	margin: 15px 20px;
}
dl.ttn-cl-po dt {
	color: #ff864a;
	font-size: 14px;
	display: block;
}
dl.ttn-cl-po dd {
	color: #666;
	line-height: 26px;
	margin-top: 6px;
}
.ttn-sel {
	display: block;
	overflow: hidden;
}
.ttn-sel span {
	width: 100%;
	outline: medium;
	border: 2px;
	border-color: #eee #eee #b6b6b6;
	border-style: solid;
	height: 44px;
	line-height: 44px;
	display: block;
	padding-left: 12px;
	box-sizing: border-box;
	background: #ededed url(../../img/old/draw/draw-sel.png) no-repeat 100% 10px;
	background-size: 27px 20px;
	color: #c8c8cd;
}
.ttn-sel span.sel-cur {
	cursor: pointer;
	background: #fff url(../../img/old/draw/draw-sel.png) no-repeat 100% 10px;
	color: #5ca3e1;
	background-size: 27px 20px;
}
.ttn-top {
	margin-top: 20px;
}
.ttn-draw-monry {
	padding: 0;
}
.wx_account_table2 p.wx_account_table2_input span {
	padding-top: 3px;
	line-height: 40px;
	height: 40px;
}
.wx_account_table2 p {
	height: auto;
}
.ttn-draw-monry .wx_account_input_box {
	margin: 0 0 6px 85px;
}
.ttn-draw-monry .wx_account_table2_body p {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 21px;
	line-height: 30px;
}
.ttn-draw-monry p i.po {
	line-height: 20px;
	display: inline-block;
	padding: 5px 0 0 75px;
	width: auto;
	height: auto;
	font-style: normal;
	color: #9c9c9c;
	font-size: 12px;
}
.wx_account_table2 p.wx_account_table2_input {
	height: auto;
}
.wx_draw .wx_draw_info {
	border-bottom: 0;
}
.wx-line-tb {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 15px 20px;
}
.wx-line-tb .ttn-cl-po {
	margin: 0;
}
.ttn-draw-monry p i.pd-l {
	padding-left: 15px;
}
.ttn-draw-monry {
	border-top: 1px solid #e5e5e5;
}
.ttn-draw-monry .wx_account_input_box {
	margin-left: 75px;
}
.wx_account_table2 p.ttn-draw-suc {
	background: url(../../img/old/wx_list/wx_arrow_icon.gif) no-repeat 0 0;
	line-height: 60px;
}
#drawSub {
	display: none;
	margin: 20px 20px 0;
}
/*弹出框 省市区*/
/*.lay-sel{height:236px; overflow-x:hidden; overflow-y:auto;zoom:1;}*/
#dialog .lay-sel li {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.lay-sel li span.l {
	float: right;
	margin: 12px 15px 0 5px;
	;
	width: 15px;
	height: 15px;
	border: 1px solid #cfa74a;
	border-radius: 15px;
	cursor: pointer;
	background: #fff;
}
.lay-sel li span.r {
	line-height: 40px;
	font-size: 12px;
	color: #666;
	margin-left: 10px;
	display: block;
}
#dialog .lay-sel li.cur {
	background: #f0f0f0;
}
#dialog .lay-sel li.cur span.l em {
	width: 9px;
	height: 9px;
	background: #cfa74a;
	display: block;
	border-radius: 5px;
	margin: 3px 0 0 3px;
}
.ttn-draw-monry p i.err {
	color: #f00;
}
.ttn-more-blank {
	padding: 17px 21px;
	color: #666;
	font-size: 14px;
	line-height: 20px;
	padding-top: 12px;
}
.ttn-more-blank .pging {
	padding-bottom: 16px;
}
.ttn-more-blank .pging h3 {
	line-height: 32px;
	margin-bottom: 6px;
}
.ttn-more-blank .pging span {
	color: #ff864a;
}
#dialog .lay-sel li {
	height: auto;
}
.lay-sel li span.r {
	padding-top: 12px;
	padding-bottom: 12px;
	line-height: 16px;
}
