@charset "utf-8";
.wx_top {
	margin-bottom: 0;
}
/*我的账户首页*/
.wx_account {
	padding-bottom: 60px;
}
.wx_account_title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-top: #e5e5e5 solid 1px;
	border-bottom: #e5e5e5 solid 1px;
	background: #f6f6f6;
	color: #666;
	padding-left: 21px;
	font-weight: bold;
}
.wx_account_title2 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	padding-bottom: 5px;
	font-weight: bold;
}
.wx_account_capital {
	height: 80px;
	background: #ff864a;
}
.wx_account_capital span {
	display: block;
	font-size: 14px;
	height: 35px;
	line-height: 45px;
	text-align: center;
	color: #fff;
}
.wx_account_capital p {
	height: 40px;
	line-height: 40px;
	font-size: 28px;
	text-align: center;
	color: #fff;
}
.wx_account_items {
}
.wx_account_items li {
	height: 64px;
	padding: 7px 0;
	border-right: #e5e5e5 solid 1px;
	border-bottom: #e5e5e5 solid 1px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	float: left;
}
.wx_account_items li:nth-child(2), .wx_account_items li:nth-child(4) {
	border-right: none;
}
.wx_account_items li a {
	display: block;
	margin-right: 8px;
	background: url(../../img/old/wx_account/wx_account_arrow.gif) right 33px no-repeat;
	background-size: 15px 15px;
}
.wx_account_items li p {
	padding-left: 15px;
	height: 25px;
	line-height: 25px;
	color: #9c9c9c;
}
.wx_account_items li p i {
	font-size: 15px;
	color: #666;
	padding-right: 5px;
}
.wx_account_items li p i.wx_account_org {
	color: #fa6b0d;
}
.wx_account_items li p em {
	color: #5ca3e1;
}
.wx_account_btn {
	padding: 20px;
}
.wx_account_btn p {
	width: 50%;
}
.wx_account_btn a {
	display: block;
	width: auto
}
.wx_account_btn a:nth-child(1) {
	margin-right: 20px;
	margin-left: 20px;
}
.wx_account_btn a:nth-child(2) {
	margin-left: 20px;
	margin-right: 20px;
}
.wx_account_table {
	margin: 0 15px 15px 15px;
	border: #e5e5e5 solid 1px;
}
.wx_account_table h3 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: #e5e5e5 solid 1px;
	background: #f6f6f6;
	color: #9c9c9c;
	text-align: center;
	font-weight: bold;
}
.wx_account_table h3 span {
	color: #ff864a;
	padding-left: 10px;
}
.wx_account_table_body {
}
.wx_account_table_body ul {
}
.wx_account_table_body li {
	height: 60px;
	padding: 5px 0;
	width: 50%;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.wx_account_table_body li:nth-child(1) {
	border-right: #e5e5e5 solid 1px;
}
.wx_account_table_body li p {
	padding-left: 20px;
	color: #9c9c9c;
	height: 25px;
	line-height: 25px;
}
.wx_account_table_body li p {
	padding-left: 20px;
	color: #9c9c9c;
}
.wx_account_table_body li p i.wx_account_org {
	color: #fa6b0d;
}
.wx_account_list ul {
	border-top: #e5e5e5 solid 1px;
}
.wx_account_list ul li {
	height: 50px;
	line-height: 50px;
	border-bottom: #e5e5e5 solid 1px;
}
.wx_account_list ul li a {
	display: block;
	font-size: 14px;
	color: #666;
	padding-left: 20px;
}
.wx_account_table2, .wx_account_wrap {
	margin: 0;
	padding: 15px 21px;
}
.wx_account_table2 h3, .wx_account_wrap h3 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: #e5e5e5 solid 1px;
	background: #f6f6f6;
	color: #666;
	padding-left: 21px;
	font-weight: bold;
}
.wx_account_table2 h4, .wx_account_wrap h4 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	padding-bottom: 5px;
	font-weight: bold;
}
.wx_account_table2 p {
	height: 30px;
	line-height: 30px;
	color: #666;
	vertical-align: bottom;
}
.wx_account_table2 p span {
	color: #9c9c9c;
	float: left;
	width: 75px;
	display: block;
	overflow: hidden;
}
.wx_account_table2 p i em {
	color: #f00;
}
.wx_account_table2 p.wx_account_table2_input {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
.wx_account_table2 p.wx_account_table2_input span {
	height: 50px;
}
.wx_account_table2 p.wx_accoutn_table2_tip {
	color: #9c9c9c;
	font-size: 12px;
	margin-left: 75px;
	height: auto;
	line-height: 20px;
	padding-bottom: 3px;
}
.wx_account_input_box {
	position: relative;
	top: 6px;
	margin-left: 75px;
	display: block;
	height: 35px;
	line-height: 35px;
	border: #eee solid 1px;
	border-bottom-width: 2px;
	border-bottom-color: #b6b6b6;
}
.wx_account_input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 33px;
	padding-left: 12px;
	border: none;
	outline: none;
	z-index: 99;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.wx_account_input_unit {
	position: absolute;
	right: -1px;
	top: -1px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 33px;
	border-right: #dadada solid 1px;
	border-top: #dadada solid 1px;
	z-index: 999;
	background: #e5e5e5;
	color: #9c9c9c;
}
