@charset "utf-8";
.wx_terms { padding:0 21px 50px 21px; }
.wx_terms { color:#666; font-size:14px; line-height:25px; }
.wx_terms h1 { padding:0 0 15px 0; text-align:center; font-weight:bold; }
.wx_terms h3 { padding:10px 0; font-weight:bold; }
.wx_terms p { text-indent:28px; font-size:0.857em; }