
/*按钮*/
.wx_btn_org {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #ff864a;
	color: #fff;
	font-size: 20px;
}
.wx_btn_org:link, .wx_btn_org:visited, .wx_btn_org:hover, .wx_btn_org:active {
	color: #fff;
}
.wx_btn_green {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #82c72d;
	color: #fff;
	font-size: 20px;
}
.wx_btn_green:link, .wx_btn_green:visited, .wx_btn_green:hover, .wx_btn_green:active {
	color: #fff;
}
.wx_btn_grey {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #e0d9c7;
	color: #888;
	font-size: 20px;
}
.wx_btn_grey:link, .wx_btn_grey:visited, .wx_btn_grey:hover, .wx_btn_grey:active {
	color: #888;
}
.wx_btn_blue {
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #368FF4;
	color: #fff;
}
.wx_btn_blue:link, .wx_btn_blue:visited, .wx_btn_blue:hover, .wx_btn_blue:active {
	color: #fff;
}
.wx_btn_code {
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #f7ae48;
	color: #fff;
}
.wx_btn_blue:link, .wx_btn_blue:visited, .wx_btn_blue:hover, .wx_btn_blue:active {
	color: #fff;
}
.wx_btn_disabled {
	background: #999;
}