/* CSS Document */

/*form元素*/
.input-box {
	border: none;
	width: 100%;
	position: relative;
}
.input-box .label {
	display: block;
	padding: 20px 0 10px 0;
	color: #666;
	font-size: 14px;
}
.input-box .label-fl {
	padding-top: 14px;
	display: block;
	float: left;
	min-width: 80px;
}
.input-box .label-first {
	padding-top: 0;
}
.input-box .label-text {
	margin-bottom: 7px;
}
.input-box .label-text span {
	margin-left: 15px;
	color: #333;
}
.input-text {
	outline: none;
	width: 100%;
	height: 44px;
	border: 2px solid #999999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 14px;
	padding-left: 35px;
}
.input-text:focus {
	border-color: #cda148;
}
.input-text-2 {
	border: 2px solid #eee;
	border-bottom: #b6b6b6 solid 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 12px;
	height: 44px;
	width: 100%;
	outline: none;
}
.input-text-box {
	display: block;
	overflow: hidden;
}
.input-mobile {
	background: url("../../img/old/register/tel.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-mobile:focus {
	background: url("../../img/old/register/tel_cur.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-password {
	background: url("../../img/old/register/pass.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-password:focus {
	background: url("../../img/old/register/pass_cur.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-no-icon {
	padding-left: 12px;
}
.input-captcha-img {
	position: absolute;
	right: -119px;
	top: 0px;
}
.input-captcha-img img {
	border: none;
	width: 109px;
	height: 44px;
}
.input-pass-hide {
	display: block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #666;
	background-color: #f9f0dd;
	text-align: center;
	cursor: pointer;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	right: 2px;
	margin-top: -42px;
}
.input-error {
	border: #f00 2px solid;
}
.input-btn {
	padding-top: 25px;
}
.input-check {
	padding-top: 15px;
}
.input-check-img {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../../img/old/register/checkbox.png') no-repeat;
	background-size: 15px 15px;
	position: relative;
	top: 2px;
}
.input-checked-img {
	background-image: url(../../img/old/register/checked.png);
}
.input-tip {
	position: absolute;
	right: 10px;
	margin-top: -30px;
	width: 16px;
	height: 16px;
	display: none;
}
.input-checking {
	background: url(../../img/old/wx_checking.gif) center center no-repeat;
}
.input-checking-ok {
	background: url(../../img/old/wx_checking_ok.png) center center no-repeat;
	background-size: 15px 15px;
}
.input-checking-fail {
	background: url(../../img/old/wx_checking_fail.png) center center no-repeat;
	background-size: 15px 15px;
}
.input-code-box {
	display: block;
	overflow: hidden;
	padding-right: 100px;
	width: auto;
	position: relative;
}
.input-code-box input {
	float: left;
	width: 100%;
	border-right: none;
}
.input-code-box input::-webkit-input-placeholder {
color:#dfdfdf;
font-size:12px;
}
.input-code-btn {
	background: #f7ae48;
	height: 44px;
	line-height: 44px;
	float: right;
	width: 100px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
}
.input-disabled {
	background: #999;
}
.input-readonly {
	background-color: #fff;
	color: #9c9c9c
}
.input-select {
	background: url(../../img/old/draw/draw-sel.png) right center no-repeat;
	background-size: 27px 20px;
	color: #5ca3e1;
	padding-right: 38px;
}
.input-select-disabled {
	background-color: #ededed;
	color: #c8c8cd;
}