@charset "utf-8";
/*红包*/
.wx_bonus { padding:17px 21px; }
.wx_bonus_num { color:#cfa74a; font-size:14px; padding-bottom:15px; }
.wx_bonus dl { margin-bottom:20px; }
.wx_bonus dl dt { width:100%; border-top:none; }
.wx_bonus dl dd { border:#e5e5e5 solid 1px; border-top:none; padding:5px; font-size:12px; }
.wx_bonus dl dd h3 { font-size:14px; height:30px; line-height:30px; color:#9c9c9c; font-weight:bold; padding:0; margin:0; background:#fff; border:none; }
.wx_bonus dl dd p { height:auto; line-height:23px; word-break:break-all; word-wrap:break-word; color:#666; }
.wx_bonus_bg { height:10px; width:100%; background:url(../../../img/old/wx_account/wx_bonus_bg.gif) left top no-repeat; background-size:100% 10px; }
.wx_bonus_t { padding:12px 5px; width:100%; border:#e5e5e5 solid 1px; border-top:none; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.wx_bonus_l {  float:left; color:#9c9c9c; padding-top:8px; padding-right:5px; }
.wx_bonus_l span { font-size:23px; color:#666; }
.wx_bonus_r { float:right; width:170px; }
.wx_bonus_r p { height:auto; line-height:23px; padding:0; overflow:hidden; font-size:12px; }
.wx_bonus_r p.wx_bonus_title { color:#666; }
.wx_bonus_r p.wx_bonus_date { color:#9c9c9c; }
.wx_bonus_b { height:40px; line-height:40px; border:#e5e5e5 solid 1px; border-top:none; padding:0 5px; color:#ff958f; font-size:12px; }
.wx_bonus_b a { float:right; color:#cfa74a; text-decoration:none; }
.wx_bonus_none { color:#666; }
/*大于350时宽度时*/
@media all and (min-width:350px) {
	.wx_bonus_l { padding-top:3px; padding-right:5px; width:150px; }
	.wx_bonus_l span { font-size:30px; color:#666; }
	.wx_bonus_r { float:left; width:auto; }
}
