@charset "utf-8";
/*设置交易密码*/
.wx_deal_pw {  }
.wx_deal_pw_info { color:#666; padding:25px 21px 15px 21px;  border-bottom:#e5e5e5 solid 1px;}
.wx_deal_pw_info p { color:#9c9c9c; fotn-size:12px; line-height:25px; }
.wx_deal_pw_info strong { font-weight:bold; color:#666; }
.wx_deal_pw_form { }
.wx_deal_box { border-bottom:#e5e5e5 solid 1px; padding:15px 21px; overflow:hidden; width:auto; }
.wx_deal_box .input-text-box {}
.wx_deal_box .label-fl { color:#9c9c9c; }
.wx_deal_btn { padding:20px 21px 0 21px; }

