@charset "utf-8";
/*222222222222*/
.wx_draw { }
.wx_draw_bank_info { border-bottom:#e5e5e5 solid 1px; }
.wx_draw_info { border-bottom:#e5e5e5 solid 1px; }
.wx_account_btn_box { padding:17px 21px; text-align:center; }
.wx_draw_tip { padding:0 21px 17px 21px; }
.wx_draw_tip .wx_tip2 p { color:#666; line-height:22px; }

.wx_draw_tip2 { padding:17px 0 0 0; }
.wx_draw_tip2 p { line-height:25px; height:auto; }
.wx_draw_tip2 p em { font-style:normal; color:#ff864a; }
.wx_draw_tip2 .wx_invest_ok { margin:20px 0; }

.wx_draw_tip3 { margin:17px 21px; }
.wx_draw_tip3 strong { padding-bottom:5px; color:#666; display:block; }
.wx_draw_tip3 p { color:#666; line-height:23px; margin-bottom:5px; }






