@charset "utf-8";
.wx_top { margin-bottom:20px; }
.wx_forgetpassword { padding:0 21px 70px 21px; }
.wx_fp_title {
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	color: #ccA448;
	margin-bottom: 20px;
}
.wx_fp_captcha_box { width:auto; margin-right:119px; position:relative;  margin-top:20px; }
.wx_fp_code { position:relative; width:auto; margin-right:109px;  margin-bottom:0; }
.wx_fp_code_btn { width:111px; position:absolute; right:-109px; top:36px; font-size:12px; height:44px; line-height:44px; }
.wx_fp_voice { color:#666; padding-top:15px; display:none; }
.wx_fp_voice a { margin-left:5px; }
.wx_fp_voice span { color:#ff864a; }
.wx_fp_next { margin-top:20px; }
.wx_fp_password { margin-bottom:25px; }
.wx_fp_idcard,
.wx_fp_username { margin-bottom:20px; }