/* CSS Document */
html, body {
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	vertical-align: middle;
	-webkit-user-select: none;
	font-size: 16px;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, "Roboto Regular", Roboto, "Droid Sans", "Microsoft Yahei", sans-serif;
	height:100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, menu {
	margin: 0;
	padding: 0;
}
li{
	list-style:none;
}
i, em {
	font-style: normal;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.con {
	height: 100%;
	max-width: 640px;
	margin: 0 auto;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
/* CSS Document */



/*按钮*/
.wx_btn_org {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #ff864a;
	color: #fff;
	font-size: 20px;
}
.wx_btn_org:link, .wx_btn_org:visited, .wx_btn_org:hover, .wx_btn_org:active {
	color: #fff;
}
.wx_btn_green {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #82c72d;
	color: #fff;
	font-size: 20px;
}
.wx_btn_green:link, .wx_btn_green:visited, .wx_btn_green:hover, .wx_btn_green:active {
	color: #fff;
}
.wx_btn_grey {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #e0d9c7;
	color: #888;
	font-size: 20px;
}
.wx_btn_grey:link, .wx_btn_grey:visited, .wx_btn_grey:hover, .wx_btn_grey:active {
	color: #888;
}
.wx_btn_blue {
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #368FF4;
	color: #fff;
}
.wx_btn_blue:link, .wx_btn_blue:visited, .wx_btn_blue:hover, .wx_btn_blue:active {
	color: #fff;
}
.wx_btn_code {
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #f7ae48;
	color: #fff;
}
.wx_btn_blue:link, .wx_btn_blue:visited, .wx_btn_blue:hover, .wx_btn_blue:active {
	color: #fff;
}
.wx_btn_disabled {
	background: #999;
}
/* CSS Document */


/* CSS Document */


/* CSS Document */

/*form元素*/
.input-box {
	border: none;
	width: 100%;
	position: relative;
}
.input-box .label {
	display: block;
	padding: 20px 0 10px 0;
	color: #666;
	font-size: 14px;
}
.input-box .label-fl {
	padding-top: 14px;
	display: block;
	float: left;
	min-width: 80px;
}
.input-box .label-first {
	padding-top: 0;
}
.input-box .label-text {
	margin-bottom: 7px;
}
.input-box .label-text span {
	margin-left: 15px;
	color: #333;
}
.input-text {
	outline: none;
	width: 100%;
	height: 44px;
	border: 2px solid #999999;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 14px;
	padding-left: 35px;
}
.input-text:focus {
	border-color: #cda148;
}
.input-text-2 {
	border: 2px solid #eee;
	border-bottom: #b6b6b6 solid 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 12px;
	height: 44px;
	width: 100%;
	outline: none;
}
.input-text-box {
	display: block;
	overflow: hidden;
}
.input-mobile {
	background: url("../img/old/register/tel.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-mobile:focus {
	background: url("../img/old/register/tel_cur.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-password {
	background: url("../img/old/register/pass.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-password:focus {
	background: url("../img/old/register/pass_cur.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.input-no-icon {
	padding-left: 12px;
}
.input-captcha-img {
	position: absolute;
	right: -119px;
	top: 0px;
}
.input-captcha-img img {
	border: none;
	width: 109px;
	height: 44px;
}
.input-pass-hide {
	display: block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #666;
	background-color: #f9f0dd;
	text-align: center;
	cursor: pointer;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	right: 2px;
	margin-top: -42px;
}
.input-error {
	border: #f00 2px solid;
}
.input-btn {
	padding-top: 25px;
}
.input-check {
	padding-top: 15px;
}
.input-check-img {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/old/register/checkbox.png') no-repeat;
	background-size: 15px 15px;
	position: relative;
	top: 2px;
}
.input-checked-img {
	background-image: url(../img/old/register/checked.png);
}
.input-tip {
	position: absolute;
	right: 10px;
	margin-top: -30px;
	width: 16px;
	height: 16px;
	display: none;
}
.input-checking {
	background: url(../img/old/wx_checking.gif) center center no-repeat;
}
.input-checking-ok {
	background: url(../img/old/wx_checking_ok.png) center center no-repeat;
	background-size: 15px 15px;
}
.input-checking-fail {
	background: url(../img/old/wx_checking_fail.png) center center no-repeat;
	background-size: 15px 15px;
}
.input-code-box {
	display: block;
	overflow: hidden;
	padding-right: 100px;
	width: auto;
	position: relative;
}
.input-code-box input {
	float: left;
	width: 100%;
	border-right: none;
}
.input-code-box input::-webkit-input-placeholder {
color:#dfdfdf;
font-size:12px;
}
.input-code-btn {
	background: #f7ae48;
	height: 44px;
	line-height: 44px;
	float: right;
	width: 100px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
}
.input-disabled {
	background: #999;
}
.input-readonly {
	background-color: #fff;
	color: #9c9c9c
}
.input-select {
	background: url(../img/old/draw/draw-sel.png) right center no-repeat;
	background-size: 27px 20px;
	color: #5ca3e1;
	padding-right: 38px;
}
.input-select-disabled {
	background-color: #ededed;
	color: #c8c8cd;
}
/* CSS Document */


/* CSS Document */

/*统一提示信息*/

/* CSS Document */

/*	布局方案
	控制命名空间  
	con		con_out   con_inner   con_wrapper
	top
	banner
	main
	foot
	nav
	
*/

.con{
	position:relative;
}
/* CSS Document */

/*顶部指示区域*/
.top {
	position:fixed;
	top:0px;
	width:100%;
	max-width:640px;
	margin:0 auto;
	
	height: 46px;
	line-height: 46px;
	background: #cda148;

	font-size:14px;
}
.top_curr{
	color:#fff;
	cursor:pointer;
}
.top_logo {
	background-image: url(../img/layout/top/logo_102_46.png);
	background-repeat: no-repeat;
	height:100%;
	width:102px;
	margin-left:10px;
	float:left;
	position:absolute;
	left:0px;
	transform:translateX(-120px);
}
.top_curr{
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
}
.top_gap {
	border-left: 2px solid #fff;
	height: 14px;
	margin-left: 2px;
	display: inline-block;
	vertical-align: middle;
}
.top_title {
	color: #fff;
	height: 24px;
	line-height: 24px;
	padding-left: 4px;
	font-size: 14px;
	vertical-align: middle;
}
.top_balance {
	padding-top:6px;
	color: #fff;
}
.top_balance p {
	height: 18px;
	line-height: 18px;
	text-align: right;
	font-size: 12px;
	overflow: hidden;
}
.top_balance p em {
	font-size: 15px;
}
.top_div{
	line-height:46px;
	height:46px;
	float:right;
	padding-right:12px;
	display:none;
}
.top a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
}
/* CSS Document */

.main{
	position:absolute;
	z-index:1;
	top:0px;
	bottom:0px;
	
	margin-bottom:48px;
	margin-top:46px;
	
	min-height:420px;
	width:100%;
	overflow:hidden;
}

.banner{
	clear:both;
	position:relative;
	font-size:0;
	vertical-align:top;
	z-index:11;
}

.main .scroll{
	z-index:10;
}



/* CSS Document */

/*底部导航*/
.foot {
	width: 100%;
	max-width: 640px;
	margin: 0px auto;
	height: 48px;
	border-top: 1px #d0d0d0 solid;
	background-color: #f4f4f4;
	overflow: hidden;
	
	position:absolute;
	z-index:2;
	bottom:0px;
	
	
}
.nav_list{
	display: block;
	margin:0 0px;
	background-color:#ccc;
}
.nav {
	width: 25%;
	display: inline-block;
	float:left;
	text-align: center;
}
.nav a {
	padding-top: 0px;
	padding-bottom:5px;
	height:43px;
	width: 100%;	
	color: #666;
	font-size: 12px;
	display: block;
}
.nav i {
	display: block;
	width: 32px;
	height: 30px;
	margin: 0 auto;
}
.nav em {
	font-style:normal;
}
.nav.active em{
	color: #cda148;
}



.nav.active .nav_index i {
	background: url('../img/layout/nav/index2_32.png');
}
.nav.active .nav_invest i {
	background: url('../img/layout/nav/list2_32.png');
}
.nav.active .nav_account i {
	background: url('../img/layout/nav/account2_32.png');
}
.nav.active .nav_about i {
	background: url('../img/layout/nav/about2_32.png');
}


.nav_index i {
	background: url('../img/layout/nav/index_32.png');
}
.nav_invest i {
	background: url('../img/layout/nav/list_32.png');
}
.nav_account i {
	background: url('../img/layout/nav/account_32.png');
}
.nav_about i {
	background: url('../img/layout/nav/about_32.png');
}

/* CSS Document */

/*日历控件*/

/* CSS Document */

/*对话框*/

/* CSS Document */

.mod_index{
	opacity:0;/*所有模块render时要确保不可见  因为render时前一模块可能尚未结束  测试合并*/
}

.mod_index_show{
	opacity:1;/*当前一模块确认已经离开舞台以后 新模块会加上这个样式*/
}

.mod_index .top_login{
	display:block;
}




#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


.banner_redbag_info_con1 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 34.5%;
}
.banner_redbag_info_con2 {
	position: relative;
	width: 100%;
	height: 100%;
}
.redbag_info {
	vertical-align: middle;
	color: #fff;
	padding-left: 12px;
	font-size: 12px;
}

.hide{
	display:none;
}


/*首页产品相关样式*/
/*产品*/
.index_wrap {
	padding-bottom: 50px;
}
.index_list {
	width: 100%;
	margin: 0px auto;
	padding: 4px 5px;
	background-color: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.index_list:after {
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	padding-bottom: 10px;
}
.index_list ul {
	width: 100%;
	padding: 0px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.index_item {
	position: relative;
	width: 100%;
	height: 296px;
	background-color: #f3f3f1;
}
.index_item_content {
	width: 96%;
	margin: 0px auto;
	padding-top: 10px;
}
/*进度*/
.index_progress {
	width: 90px;
	height: 90px;
	text-align: center;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}
.index_progress_text {
	position: absolute;
	top: 0;
	left: 0;
	color: #666;
	font-size: 21px;
	width: 90px;
	height: 90px;
	line-height: 90px;
}
.index_progress_text span {
	font-size: 12px;
}
/*详情*/
.index_item_title {
	width: 100%;
	height: 125px;
	border-bottom: 1px #dcdcda solid;
	text-align: center;
	position: relative;
}
.index_item_title h2 {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.index_item_title h2 span {
	display: block;
	line-height: normal;
	height: 20px;
	line-height: 20px;
}
.index_item_title .wx_icon_box {
	display: block;
	position: relative;
	top: -3px;
	left: 3px;
}
.index_item_detail {
	padding: 8px 0px 2px;
	height: 75px;
	position: relative;
}
.index_item_detail ul {
	float: left;
	height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.index_item_detail ul:nth-child(1) {
	width: 52%;
	padding-left: 5px;
	border-right: 2px #dadada solid;
}
.index_item_detail ul:nth-child(2) {
	width: 48%;
	padding-left: 15px;
}
.index_item_detail ul span {
	display: block;
}
.index_item_detail ul li.index_item_text {
	font-size: 12px;
	color: #666;
	padding-bottom: 5px;
}
.index_item_detail ul li.index_item_time {
	font-size: 12px;
	color: #666;
}
.index_item_detail ul li.index_item_num1 {
	font-size: 16px;
	color: #fa6b0d;
	padding-top: 4px;
}
.index_item_detail ul li span.index_item_num2 {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-align: center;
	height: 22px;
	line-height: 22px;
	background-color: #cfa74a;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	min-width: 22px;
	margin-right: 3px;
}
.index_item_detail ul li span.index_time_unit {
	display: inline-block;
	vertical-align: bottom
}
.index_item_detail ul li.index_item_amount {
	font-size: 12px;
	color: #666;
	padding-top: 10px;
	position: absolute;
	bottom: 8px;
}
.index_item_tip {
	display: block;
	width: 100%;
	height: 47px;
	line-height: 47px;
	color: #727272;
	font-size: 20px;
	text-align: center;
}
.index_item_join {
	display: block;
	font-size: 12px;
	color: #666;
	text-align: center;
	padding-top: 5px;
}
.index_count_down {
	color: #ff864a;
	padding-top: 10px;
}
@charset "utf-8";

.mod_reg{
	opacity:0;/*所有模块render时要确保不可见  因为render时前一模块可能尚未结束*/
}

.mod_reg_show{
	opacity:1;/*当前一模块确认已经离开舞台以后 新模块会加上这个样式*/
}



.wx_register {
	padding: 0 18px;
	padding-top:24px;
}
.register-mobile {
	background: url("../img/old/register/tel.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.register-mobile:focus {
	background: url("../img/old/register/tel_cur.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.register-password {
	background: url("../img/old/register/pass.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
.register-password:focus {
	background: url("../img/old/register/pass_cur.png") no-repeat 10px 10px;
	background-size: 12px 20px;
}
/*推荐人*/
.ref-box {
	position: relative;
	margin-left: 106px;
}
.ref-check {
	position: absolute;
	left: -106px;
	top: 0;
	width: 96px;
	padding-top: 3px;
	height: 40px;
	padding-bottom: 1px;
	overflow: hidden;
	background-color: #edece9;
}
.ref-check i {
	font-style: normal;
	display: inline-block;
	line-height: 30px;
	height: 30px;
	width: 34px;
	overflow: hidden;
	border: 1px solid transparent;
	text-align: center;
	margin: 4px;
	font-size: 16px;
}
.ref-check i:first-child {
	background-color: #f4f3ef;
	background-color: linear-gradient(top, #f4f3ef, #f0ede8);
	color: #848080;
	border-radius: 2px;
	box-shadow: -1px -1px 2px 1px #bbbab8;
	margin-left: 9px;
}
.ref-check i:last-child {
	color: #cecece;
}
.ref-checked i:first-child {
	background-color: transparent;
	color: #cecece;
	box-shadow: none;
}
.ref-checked i:last-child {
	background-color: #ff864a;
	color: #f7f7f7;
	border-radius: 2px;
	box-shadow: -1px -1px 1px #bbbab8;
}
.ref-box .input-text {
	background-image: none;
	padding-left: 12px;
}
.wx_step2_tip {
	color: #666;
	font-size: 14px;
	margin: 20px auto 10px auto;
	line-height: 26px;
}
.wx_step2_tip .wx_blue {
	font-size: 14px;
	margin-left: 5px;
	text-decoration: underline;
	color: #368FF4;
}
.wx_step2_tip .wx_phone {
	color: #ff864a;
}
.code-box {
	padding-right: 110px;
	position: relative;
	width: auto;
}
.code-box .input-code {
	padding-left: 12px;
	background-image: none;
}
.code-box .code-btn {
	position: absolute;
	right: 1px;
	top: 0;
	width: 110px;
	display: block;
}
.wx_register_tip p {
	padding-top: 8px;
	padding-bottom: 15px;
}
.wx_register_tip2 {
	color: #666;
	line-height: 22px;
	margin-top: 20px;
}
.wx_register_tip2 span {
	color: #ff864a;
}



/*提示*/
.wx_tip {
	border: #f00 solid 1px;
	background: #fff9e3;
	padding: 12px 8px;
	margin-top: 10px;
	color: #f00;
	font-size: 12px;
}
.wx_tip h5 {
	color: #ff864a;
	padding: 0 0 10px 0;
	margin: 0;
}
.wx_tip ins {
	display: block;
	width: 100%;
}
.wx_tip p {
	line-height: 22px;
	color: #666;
	word-break: break-all;
	word-wrap: break-word;
}
.wx_tip p strong {
	color: #666;
	font-size: 12px;
}
.wx_tip p em.red {
	color: #ff864a;
	font-weight: normal;
	line-height: 22px;
	padding: 0;
	margin: 0;
}
.wx_tip2 {
	border: #e0af48 solid 1px;
	background: #fff9e3;
	padding: 12px 8px;
	margin-top: 10px;
	color: #ff864a;
	font-size: 12px;
}
.wx_tip2 span.black {
	color: #666;
}
.wx_tip_voice {
	line-height: 20px;
	padding: 5p 0;
	color: #666;
}
.wx_tip_voice a {
	margin-left: 10px;
}
.wx_tip_voice .wx_phone {
	color: #ff864a;
}