<!DOCTYPE html>
<html>
<head>
<title>我的账户-小牛在线</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<link rel="stylesheet" type="text/css" href="css_old/old/wx_common.css">
<link rel="stylesheet" type="text/css" href="css_old/old/wx_account.css">
</head>
<body>
<div class='wx_top'> <a class="wx_top_logo" href="index.html"> </a> <span class="wx_top_gap"></span> <span class='wx_top_title'>我的账户</span>
<div class="wx_top_btn wx_top_loginout"><a class="" href="/weixin/logout">安全退出</a></div>
</div>
<div class="wx_account">
	<div class="wx_list_tab">
      <a href="account.html" class="select" id="wx_tab_axn"><span><em>账户总览</em></span></a>
      <a href="/weixin/account/send/invest" id="wx_tab_sanbiao"><span><em>我的投资</em></span></a>
    </div>
    <h3 class="wx_account_title">我的红包</h3>
    <div class="wx_account_wrap wx_bonus" id="container">
        <div class="wx_loading"></div>
    </div>
</div>
<div class="foot">
    <div class="foot_nav_list">
        <span class="foot_nav"><a href="index.html" class="foot_nav nav_index"><i></i><em>首页</em></a></span>
        <span class="foot_nav"><a href="list.html#axn" class="foot_nav nav_invest"><i></i><em>我要投资</em></a></span>
        <span class="foot_nav"><a href="account.html" class="foot_nav nav_account nav_account_cur"><i></i><em>我的账户</em></a></span>
        <span class="foot_nav"><a href="aboutus.html" class="foot_nav nav_about"><i></i><em>关于小牛</em></a></span>
    </div>
</div>
<!--内容模板-->
<script id="pageTmpl" type="text/x-dot-template">
<% var data = it.data; %>
<% var ilen = data.length;%>
<div class="wx_bonus_num">未兑现（<%=ilen%>）</div>
<%for(var i=0; i<ilen; i++){%>
<% var items = data[i]; %>
<%
/*有效期*/
var startDate = $.formatTime(items.activeDate,"yyyy-MM-dd");
var endDate = $.formatTime(items.expireDate,"yyyy-MM-dd");
%>
	<dl class="wx_bonus_item">
		<dt>
			<div class="wx_bonus_bg"></div>
			<div class="wx_bonus_t clearfix">
				<div class="wx_bonus_l">￥<span><%=items.amount%></span></div>
				<div class="wx_bonus_r">
					<p class="wx_bonus_title"><%=items.originNote%></p>
					<p class="wx_bonus_date"><%=startDate%>-<%=endDate%>有效</p>
				</div>
			</div>
			<div class="wx_bonus_b"><%=items.name%>：投 <%=items.useCondition%>返 <%=items.amount%><a href="javascript:void(0);"  class="wx_bonus_handler">使用说明>></a></div>
		</dt>
		<dd class="wx_bonus_content" style="display:none;">
			<h3>使用说明：</h3>
			<%=items.useNote%>
		</dd>
	</dl>
<%}%>
<%if(ilen==0){%>
	<div class="wx_bonus_none">暂无!</div>
<%}%>
</script>

<script type="text/javascript" src="lib/zepto/zepto.min.js"></script>
<script type="text/javascript" src="lib/doT/doT.min.js"></script>
<script type="text/javascript" src="js/old/wx_common.js"></script>
<script type="text/javascript">
$(function(){
	//数据路径
	var requestData = {
		tpl: $("#pageTmpl").html(),
		data:"/weixin/account/redbag"
	};
	init();
	//初始化
	function init(){
		var $container = $("#container");
		//请求模板和数据，并调用回调
		$.render({type:"POST",tpl:requestData.tpl,data:requestData.data},function(data,html){
			$container.html(html);
			//展开红包说明
			$(".wx_bonus_item").on("click","dt",function(){
				$(this).next().toggle();
			});
		});
	}
});
</script>

</body>
</html>