@font-face {
	font-family: 'icomoon';
	src:url('icomoon/fonts/icomoon.eot?5dvpo5');
	src:url('icomoon/fonts/icomoon.eot?#iefix5dvpo5') format('embedded-opentype'),
url('icomoon/fonts/icomoon.woff?5dvpo5') format('woff'),
url('icomoon/fonts/icomoon.ttf?5dvpo5') format('truetype'),
url('icomoon/fonts/icomoon.svg?5dvpo5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon{
	font-family:"icomoon";/*所有带icon的都是web font*/
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
	content: "\f003";
}

.icon-heart:before {
	content: "\f004";
}

.icon-star:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-user:before {
	content: "\f007";
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-cog:before {
	content: "\f013";
}

.icon-trash-o:before {
	content: "\f014";
}

.icon-home:before {
	content: "\f015";
}

.icon-repeat:before {
	content: "\f01e";
}

.icon-refresh:before {
	content: "\f021";
}

.icon-align-justify:before {
	content: "\f039";
}

.icon-list:before {
	content: "\f03a";
}

.icon-chevron-thin-down:before {
	content: "\e600";
}

.icon-chevron-thin-left:before {
	content: "\e601";
}

.icon-chevron-thin-right:before {
	content: "\e602";
}

.icon-chevron-thin-up:before {
	content: "\e603";
}

.icon-check2:before {
	content: "\e604";
}

.icon-home2:before {
	content: "\e605";
}

.icon-reply-all:before {
	content: "\e606";
}

.icon-reply:before {
	content: "\e607";
}

.icon-rocket:before {
	content: "\e608";
}

.icon-scissors:before {
	content: "\e609";
}

.icon-share-alternitive:before {
	content: "\e60a";
}

.icon-share:before {
	content: "\e60b";
}

.icon-star-outlined:before {
	content: "\e60c";
}

.icon-star2:before {
	content: "\e60d";
}

.icon-user2:before {
	content: "\e60e";
}

.icon-lock:before {
	content: "\e60f";
}

.icon-unlocked:before {
	content: "\e610";
}

.icon-user3:before {
	content: "\e611";
}

.icon-user4:before {
	content: "\e612";
}

.icon-paper-clip:before {
	content: "\e001";
}

.icon-repeat2:before {
	content: "\e058";
}

.icon-reload:before {
	content: "\e080";
}

.icon-star3:before {
	content: "\e093";
}

.icon-loader:before {
	content: "\e105";
}

.icon-check3:before {
	content: "\e116";
}

.icon-cross:before {
	content: "\e117";
}

.icon-menu:before {
	content: "\e120";
}

.icon-inbox:before {
	content: "\e122";
}

.icon-outbox:before {
	content: "\e123";
}

.icon-ellipsis:before {
	content: "\e129";
}

.icon-home3:before {
	content: "\e613";
}

.icon-input-checked:before {
	content: "\e614";
}

.icon-download:before {
	content: "\e615";
}

.icon-upload:before {
	content: "\e616";
}

.icon-checkmark:before {
	content: "\e617";
}

.icon-checkmark3:before {
	content: "\e618";
}

.icon-cancel:before {
	content: "\e619";
}

.icon-cancel2:before {
	content: "\e61a";
}

.icon-plus:before {
	content: "\e61b";
}

.icon-plus2:before {
	content: "\e61c";
}

.icon-minus:before {
	content: "\e61d";
}

.icon-minus2:before {
	content: "\e61e";
}

.icon-notice:before {
	content: "\e61f";
}

.icon-notice2:before {
	content: "\e620";
}

.icon-cog2:before {
	content: "\e621";
}

.icon-cog3:before {
	content: "\e622";
}

.icon-android:before {
	content: "\e623";
}

.icon-headphones:before {
	content: "\e624";
}

.icon-checkmark4:before {
	content: "\e625";
}

.icon-cancel3:before {
	content: "\e626";
}

.icon-sitemap:before {
	content: "\e627";
}

.icon-sitemap2:before {
	content: "\e628";
}

.icon-cloud:before {
	content: "\e629";
}

.icon-upload2:before {
	content: "\e62a";
}

.icon-download2:before {
	content: "\e62b";
}

.icon-trashcan:before {
	content: "\e62c";
}

.icon-locked:before {
	content: "\e62d";
}

.icon-magnifier:before {
	content: "\e62e";
}

.icon-rotate:before {
	content: "\e62f";
}

.icon-rotate2:before {
	content: "\e630";
}

.icon-reply2:before {
	content: "\e631";
}

.icon-forward:before {
	content: "\e632";
}

.icon-heart2:before {
	content: "\e633";
}

.icon-checked:before {
	content: "\e634";
}

.icon-error:before {
	content: "\e635";
}

.icon-lock2:before {
	content: "\e636";
}

.icon-phone:before {
	content: "\e942";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-user5:before {
	content: "\e971";
}

.icon-spinner6:before {
	content: "\e97f";
}

.icon-spinner7:before {
	content: "\e980";
}

.icon-plus3:before {
	content: "\ea0a";
}

.icon-minus3:before {
	content: "\ea0b";
}

.icon-checkmark5:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-loop2:before {
	content: "\ea2e";
}

.icon-arrow-up-left:before {
	content: "\ea31";
}

.icon-arrow-up:before {
	content: "\ea32";
}

.icon-arrow-up-right:before {
	content: "\ea33";
}

.icon-arrow-right:before {
	content: "\ea34";
}

.icon-arrow-down-right:before {
	content: "\ea35";
}

.icon-arrow-down:before {
	content: "\ea36";
}

.icon-arrow-down-left:before {
	content: "\ea37";
}

.icon-arrow-left:before {
	content: "\ea38";
}

.icon-arrow-up-left2:before {
	content: "\ea39";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-up-right2:before {
	content: "\ea3b";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-arrow-down-right2:before {
	content: "\ea3d";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}

.icon-arrow-down-left2:before {
	content: "\ea3f";
}

.icon-arrow-left2:before {
	content: "\ea40";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-radio-checked:before {
	content: "\ea54";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-embed:before {
	content: "\ea7f";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-picassa:before {
	content: "\eaa4";
}

.icon-picassa2:before {
	content: "\eaa5";
}

.icon-dribbble:before {
	content: "\eaa6";
}

.icon-dribbble3:before {
	content: "\eaa8";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-android2:before {
	content: "\eac1";
}

.icon-windows:before {
	content: "\eac2";
}

.icon-windows8:before {
	content: "\eac3";
}

.icon-percent:before {
	content: "\25";
}

.icon-hyphen:before {
	content: "\2d";
}

.icon-period:before {
	content: "\2e";
}

.icon-zero:before {
	content: "\30";
}

.icon-one:before {
	content: "\31";
}

.icon-two:before {
	content: "\32";
}

.icon-three:before {
	content: "\33";
}

.icon-four:before {
	content: "\34";
}

.icon-five:before {
	content: "\35";
}

.icon-six:before {
	content: "\36";
}

.icon-seven:before {
	content: "\37";
}

.icon-eight:before {
	content: "\38";
}

.icon-nine:before {
	content: "\39";
}

